body {
    background-image: radial-gradient(circle at 37.46% 39.48%, #00ffff 0, #00c3ff 25%, #1084b9 50%, #1d4b6a 75%, #111d28 100%);
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    width: 400px;
    margin-bottom: 70px;
}
